<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>755819704788-4n52iuga9t4c4judh5odj9h5m6jqe9qa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.755819704788-4n52iuga9t4c4judh5odj9h5m6jqe9qa</string>
	<key>API_KEY</key>
	<string>AIzaSyCnxtRvDVd4qSD6gmEMhj941U4-XpbAbpo</string>
	<key>GCM_SENDER_ID</key>
	<string>755819704788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-230f7</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-230f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:755819704788:ios:937d448e2121236aefa641</string>
</dict>
</plist>